<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h2 class="homepage-logo">Tech Blog</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
        {{#unless logged_in}}
        <div class="container-fluid justify-content-end">
            <button class="btn btn-primary me-2" type="button" id="signup-btn">Sign Up</button>
            <button class="btn btn-primary me-2" type="button" id="login-btn">Login</button>
        </div>
        {{else}}
        <div class="container-fluid justify-content-end">
            <button class="btn btn-primary me-2" type="button" id="logout-btn">Logout</button>
        </div>
        {{/unless}}
    </nav>
</header>
<div class="post-container d-flex justify-content-center">
    {{#unless logged_in}}
    <h3 class="login-alert">Login or sign-up to post to the blog!</h2>
    {{/unless}}
</div>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}