<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/"><h2 class="homepage-logo">Tech Blog</h2></a>
        </div>
    </nav>
</header>
<div class="signup-container">
    <form class="signup-form">
        <div class="mb-3">
            <label for="name-signup" class="form-label">Username</label>
            <input type="name" class="form-control" id="name-signup" aria-describedby="username" placeholder="Enter a username...">
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="email" placeholder="Enter an email address...">
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Must be 8 characters long...">
            <input type="password" class="form-control" id="confirm-password-signup" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <div class="existing-member">
        <p>Already a member?</p>
        <a href="/login">Click here</a>
    </div>
</div>